.cabeçalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



span{
    color: var(--cor-primaria);
    margin-top: 5.2em;
    font-weight: var(--fonte-peso);
}

.cabeçalho__titulo{
    font-size: 3rem;
    font-weight: var(--fonte-peso);
    padding: 0.9em;
}


.cabeçalho__texto{
    font-size: 1.3rem;
    color: var(--cor-secundaria);
    line-height: 2rem;
}