.cabeçalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5.2em;
}



.cabeçalho__span{
    color: var(--cor-primaria);
    font-weight: var(--fonte-peso);
}

.cabeçalho__titulo{
    font-size: 3rem;
    font-weight: var(--fonte-peso-titulo);
    padding: 0.8em;
    color: var(-cor-titulo);
}


.cabeçalho__texto{
    font-size: 1.3rem;
    color: var(--cor-secundaria);
    line-height: 2rem;
    font-weight: var(--fonte-peso-texto);
}

