
.cabeçalho{
 display: flex;
 justify-content: space-between;    
  background-color: var(--cor-de-fundo);
  
}

.container{
   display: flex; 
    justify-content: space-between;
    padding: 1.5em 6em;
    align-items: center;
}

.container{
   display: flex; 
    justify-content: space-between;
    padding: 1.5em 6em;
    align-items: center;
}

.container__imagem{
    padding: 0.5em;
}

.container__titulo{
    color: var(--cor-titulo);
    font-size: 1.1rem;
    
}

.navegação{
    display: flex;
    margin-left: 7.5em;
    
}

.navegação-item{
   display: flex;
   justify-content: space-between;
   padding: 0 1.5em;
}

.navegação-item__link{
    text-decoration: none;
    color: var(--cor-menu);
}

.botão__link{
    margin-right: 1em;
    padding: 1em 1.5em;
    color: var(--cor-menu);
    text-decoration: none;
}

.cadastro{
    color: var(--cor-de-fundo);
    background-color: var(--cor-primaria);
    border-radius: 8px;
}